* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 20px;
  width: 100wh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1 {
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}
input[type="text"] {
  padding: 10px;
  border: white;
  border-radius: 10px;
}
#addtask-btn {
  padding: 10px;
  background-color: blue;
  border: blue;
  border-radius: 10px;
}
#addtask-btn:hover {
  background-color: lightblue;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #333333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

li button {
  background-color: #d32f2f;
  border: none;
  padding: 5px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

li button:hover {
  background-color: #b71c1c;
}
