* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 85, 85);
  border-radius: 10px;
  padding: 20px;
}
h1,
#city-name,
#temperature,
#description,
#error-message {
  text-align: center;
}
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
#city-input,
#get-weather-btn {
  padding: 10px;
  border-color: white;
  border-radius: 10px;
}
.hidden {
  display: none;
}
