* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: aliceblue;
  color: #1a1a1a;
  display: grid;
  height: 100vh;
  place-items: center;
}
.container {
  border: 1px solid rgb(170, 169, 169);
  border-radius: 10px;
  display: grid;
  padding: 10px;
  place-items: center;
  background-color: rgb(247, 247, 247);
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 100px);
}
img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  display: grid;
  place-items: center;
}
.img-contain {
  border: 2px solid blue;
  background-color: black;
  border-radius: 100%;
}
.socialicons {
  margin: 5px 0px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
h6 {
  margin: 5px 0px;
}
