body {
  margin: 0;
  padding: 0;
  background-color: #880606;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: #1a1a1a;
  color: aliceblue;
  padding: 20px;
  max-width: 400px;
}
.img {
  width: 300px;
  height: 300px;
  object-fit: inherit;
}
.img:hover {
  transition: 0.9s ease-in-out;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 5px;
}
button {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  background-color: blue;
  transition: background-color 0.9s ease-out;
}

button:hover {
  background-color: blanchedalmond;
}
